Repository bounswe/bounswe2023group4, pull requests merged in 2023-11, with the labels that each got.

#300 Mobile/feature/feed UI
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteInputType.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/DatePickerDialogComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/DiscreteVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollCreatorProfile.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollTagComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedSearchBar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedTopBar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/NotificationDisplay.kt
  prediction-polls/android/app/src/main/res/drawable/ic_comment.xml
  prediction-polls/android/app/src/main/res/drawable/ic_hamburger.xml
  prediction-polls/android/app/src/main/res/drawable/ic_notification.xml
  prediction-polls/android/app/src/main/res/drawable/ic_search.xml
  prediction-polls/android/app/src/main/res/drawable/ic_share.xml
  prediction-polls/android/app/src/main/res/drawable/ic_warning.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Priority: High, Status: In Review, Platform: Android

#328 Backend/feature/mobile google auth
  prediction-polls/backend/src/app.js
  prediction-polls/backend/src/routes/AuthorizationRouter.js
  prediction-polls/backend/src/services/AuthGoogleService.js
Labels: Platform: Backend

#327 Backend/feature/polls
  prediction-polls/backend/src/app.js
  prediction-polls/backend/src/repositories/PollDB.js
  prediction-polls/backend/src/routes/PollRouter.js
  prediction-polls/backend/src/schema.sql
  prediction-polls/backend/src/services/PollService.js
Labels: Platform: Backend

#329 Frontend/development/feature/Voting-UI
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/PollOption/PollOption.module.css
  prediction-polls/frontend/src/Components/PollOption/index.jsx
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/Pages/Vote/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#332 Create Poll Page UI
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
Labels: Priority: High, Status: In Review, Type: Feature, Platform: Frontend

#331 Mobile/improvement/auth
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/LoginRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/LogoutRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/RefreshAccessTokenRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/SignInWithGoogleRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/SignupRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/LoginResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/RefreshAccessTokenResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/AuthRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/LogoutRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AuthService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/StringExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomInputField.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModel.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/extensions/StringExtensionTest.kt
  prediction-polls/android/settings.gradle.kts
Labels: Status: In Review, Type: Improvement, Platform: Android

#337 created poll vote composable
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Priority: Urgent, Priority: High, Status: Done, Type: Feature, Platform: Android

#338 Revert "created poll vote composable"
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Priority: Urgent, Platform: Android

#340 Mobile/feature/leaderboard screen UI
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Color.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Type: Feature, Platform: Android

#360 Mobile/development
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/LoginRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/LogoutRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/RefreshAccessTokenRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/SignInWithGoogleRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/SignupRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/LoginResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/RefreshAccessTokenResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/AuthRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/LogoutRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AuthService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/StringExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomInputField.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteInputType.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/DatePickerDialogComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/DiscreteVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollCreatorProfile.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollTagComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedSearchBar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedTopBar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/NotificationDisplay.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Color.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/res/drawable/ic_comment.xml
  prediction-polls/android/app/src/main/res/drawable/ic_hamburger.xml
  prediction-polls/android/app/src/main/res/drawable/ic_notification.xml
  prediction-polls/android/app/src/main/res/drawable/ic_search.xml
  prediction-polls/android/app/src/main/res/drawable/ic_share.xml
  prediction-polls/android/app/src/main/res/drawable/ic_warning.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/extensions/StringExtensionTest.kt
  prediction-polls/android/settings.gradle.kts
Labels: Platform: Android

#367 Frontend/feature/leaderboard
  prediction-polls/frontend/src/MockData/LeaderboardList.json
  prediction-polls/frontend/src/Pages/Leaderboard/Leaderboard.module.css
  prediction-polls/frontend/src/Pages/Leaderboard/index.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#330 Frontend/development/CSS-Files-Migration
  prediction-polls/frontend/src/Pages/Auth/SignIn/SignIn.module.css
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
  prediction-polls/frontend/src/Pages/Auth/SignUp/SignUp.module.css
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
Labels: Status: In Review, Type: Improvement, Platform: Frontend

#370 Frontend/development
  prediction-polls/frontend/src/Assets/icons/EditIcon.jsx
  prediction-polls/frontend/src/Assets/icons/Icon.module.css
  prediction-polls/frontend/src/Components/MobileMenu/MobileMenu.module.css
  prediction-polls/frontend/src/Components/MobileMenu/index.jsx
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/PollOption/PollOption.module.css
  prediction-polls/frontend/src/Components/PollOption/index.jsx
  prediction-polls/frontend/src/Components/Sidebar/Sidebar.module.css
  prediction-polls/frontend/src/Components/Sidebar/index.jsx
  prediction-polls/frontend/src/MockData/LeaderboardList.json
  prediction-polls/frontend/src/MockData/PollData.json
  prediction-polls/frontend/src/MockData/Users.json
  prediction-polls/frontend/src/Pages/Auth/Google/index.jsx
  prediction-polls/frontend/src/Pages/Auth/SignIn/SignIn.module.css
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
  prediction-polls/frontend/src/Pages/Auth/SignUp/SignUp.module.css
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/Pages/EditProfile/EditProfile.module.css
  prediction-polls/frontend/src/Pages/EditProfile/index.jsx
  prediction-polls/frontend/src/Pages/Feed/Feed.module.css
  prediction-polls/frontend/src/Pages/Feed/index.jsx
  prediction-polls/frontend/src/Pages/Leaderboard/Leaderboard.module.css
  prediction-polls/frontend/src/Pages/Leaderboard/index.jsx
  prediction-polls/frontend/src/Pages/Profile/Profile.module.css
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/Pages/Vote/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/frontend/src/api/requests/googleLogin.jsx
Labels: Platform: Frontend

#378 error fix
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
Labels: Priority: Urgent, Status: In Review, Type: Bug, Platform: Frontend

#374 Styling of create poll page plus API Requests added
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
Labels: Priority: Medium, Status: In Review, Type: Improvement, Type: Feature, Platform: Frontend

#398 implemented edit profile page
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/src/Pages/EditProfile/EditProfile.module.css
  prediction-polls/frontend/src/Pages/EditProfile/index.jsx
  prediction-polls/frontend/src/Pages/Profile/Profile.module.css
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#435 Mobile/feature/create poll
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/CreateContinuousPollRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/CreateDiscretePollRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/PollService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/RepositoryModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ServiceModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomDatePicker.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomInputField.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollViewModel.kt
  prediction-polls/android/app/src/main/res/drawable/ic_delete.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Type: Feature, Platform: Android

#438 Profile and Feed Screens Finalized
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/common/PredictionPollsError.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/common/Result.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/FeedApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/FeedRemoteDataSource.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/FeedRemoteDataSourceImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/FeedRepositoryImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/model/PollResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSource.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSourceImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRepositoryImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/ProfileInfoResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/FeedModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/NetworkModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ProfileModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/feed/FeedRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/feed/GetFeedUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/ContinuousVoteInputType.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/Poll.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/PollOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/GetProfileInfoUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfo.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfoRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollCreatorProfile.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollsComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileCard.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
Labels: Priority: High, Status: In Review, Type: Improvement, Platform: Android

#445 Frontend/improvement/create poll
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
Labels: Priority: High, Status: In Review, Type: Improvement, Platform: Frontend

#446 frontend/bug/sign-up-request
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
Labels: Priority: High, Status: In Review, Type: Bug, Type: Improvement, Platform: Frontend

#457 frontend/test/createPoll
  prediction-polls/frontend/src/Pages/Create/Create.test.js
Labels: Priority: High, Status: In Review, Platform: Frontend, Type: Testing

#461 Mobile/improvement/UI fixes
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/CreateContinuousPollRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AuthService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/StringExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CommonAppbar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/NavigationDrawer.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/NavItem.kt
  prediction-polls/android/app/src/main/res/drawable/ic_settings.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Platform: Android

#462 Mobile/feature/vote poll
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/model/PollResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/PollService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/vote/DiscreteVotePollRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/vote/VotePollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/vote/VotePollResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/VotePollModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/Poll.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/VotePollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/VotePollUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/DiscreteVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollsComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileCard.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteNavGraph.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteScreenUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteViewModel.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/GetFeedUseCaseTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/GetProfileUseCaseTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeFeedRepository.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeProfileRepository.kt
Labels: Priority: High, Status: In Review, Type: Bug, Type: Improvement, Type: Feature, Platform: Android

#467 Mobile/improvement/milestone2 prep
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/common/NavigationDrawerTest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSource.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSourceImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRepositoryImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/interceptors/AuthInterceptor.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ProfileModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/GetCurrentUserProfileUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfoRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/StringExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollCreatorProfile.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollsComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedSearchBar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/NavItem.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Type: Improvement, Platform: Android

#468 add extra tests for create poll
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/RepositoryModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/create/CreatePollViewModel.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakePollRepository.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/ui/create/CreatePollViewModelTest.kt
Labels: Status: In Review, Type: Improvement, Platform: Android

#472 Poll backend connection
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Pages/Feed/index.jsx
Labels: Priority: High, Status: In Review, Type: Improvement, Platform: Frontend
