Repository bounswe/bounswe2023group4, pull requests merged in 2023-05, with the labels that each got.

#90 Feature/formatter setup
  practice-app/frontend/.eslintrc.json
  practice-app/frontend/.gitignore
  practice-app/frontend/.prettierignore
  practice-app/frontend/.prettierrc.json
  practice-app/frontend/README.md
  practice-app/frontend/package-lock.json
  practice-app/frontend/package.json
  practice-app/frontend/yarn.lock
Labels: Type: Feature, Platform: Frontend

#91 Feature/Country-API
  .gitignore
  practice-app/backend/.gitignore
  practice-app/backend/api/__init__.py
  practice-app/backend/api/apps.py
  practice-app/backend/api/migrations/0001_initial.py
  practice-app/backend/api/migrations/__init__.py
  practice-app/backend/api/models/country_model.py
  practice-app/backend/api/routers/__init__.py
  practice-app/backend/api/routers/country_router.py
  practice-app/backend/api/serializers/__init__.py
  practice-app/backend/api/serializers/country_serializer.py
  practice-app/backend/api/urls.py
  practice-app/backend/api/views/__init__.py
  practice-app/backend/api/views/country_views.py
  practice-app/backend/api/viewsets/__init__.py
  practice-app/backend/api/viewsets/country_viewset.py
  practice-app/backend/backend/__pycache__/__init__.cpython-311.pyc
  practice-app/backend/backend/__pycache__/settings.cpython-311.pyc
  practice-app/backend/backend/__pycache__/urls.cpython-311.pyc
  practice-app/backend/backend/__pycache__/wsgi.cpython-311.pyc
  practice-app/backend/backend/asgi.py
  practice-app/backend/backend/urls.py
  practice-app/backend/config/__init__.py
  practice-app/backend/config/settings.py
  practice-app/backend/config/urls.py
  practice-app/backend/config/wsgi.py
  practice-app/backend/db.sqlite3
  practice-app/backend/manage.py
  practice-app/backend/requirements.txt
Labels: Platform: Backend

#92 Feature/mainpage
  practice-app/frontend/.eslintrc.json
  practice-app/frontend/app/globals.css
  practice-app/frontend/app/layout.tsx
  practice-app/frontend/app/page.tsx
  practice-app/frontend/app/yigit-sekerci/page.tsx
  practice-app/frontend/components/mainpage/ApiHrefBox.tsx
  practice-app/frontend/public/favicon.ico
  practice-app/frontend/styles/globals.css
Labels: Priority: Medium, Status: In Review, Type: Feature, Platform: Frontend

#115 Yigit Frontend page for sports api
  practice-app/frontend/api/yigit-sekerci/types.ts
  practice-app/frontend/api/yigit-sekerci/useLeagues.ts
  practice-app/frontend/api/yigit-sekerci/useStandings.ts
  practice-app/frontend/app/yigit-sekerci/page.tsx
  practice-app/frontend/components/yigit-sekerci/LeagueSelection.tsx
  practice-app/frontend/components/yigit-sekerci/StandingCard.tsx
  practice-app/frontend/components/yigit-sekerci/StandingsCard.tsx
  practice-app/frontend/public/arrow_drop_down.svg
Labels: Priority: Urgent, Status: In Review, Type: Feature, Platform: Frontend

#134 add sport suggestions frontend
  practice-app/frontend/api/yigit-sekerci/types.ts
  practice-app/frontend/api/yigit-sekerci/useSportSuggestions.ts
  practice-app/frontend/app/yigit-sekerci/page.tsx
  practice-app/frontend/components/yigit-sekerci/SportSuggestionForm.tsx
  practice-app/frontend/components/yigit-sekerci/SportSuggestionRow.tsx
Labels: Type: Feature, Platform: Frontend

#139 fix reqres hooks
  practice-app/backend/api/migrations/0006_user.py
  practice-app/backend/api/models/user_model.py
  practice-app/frontend/api/selin-isik/types.ts
  practice-app/frontend/api/selin-isik/useUser.ts
  practice-app/frontend/api/yigit-sekerci/useLeagues.ts
  practice-app/frontend/app/selin-isik/add-profile/page.tsx
  practice-app/frontend/app/selin-isik/get-profile/page.tsx
  practice-app/frontend/components/userBox/UserBox.tsx
Labels: Priority: Urgent, Platform: Frontend
