Repository bounswe/bounswe2023group4, pull requests merged in 2023-10, with the labels that each got.

#186 Feature/android project init
  prediction-polls/.idea/.gitignore
  prediction-polls/.idea/vcs.xml
  prediction-polls/android/.gitignore
  prediction-polls/android/.idea/.gitignore
  prediction-polls/android/.idea/.name
  prediction-polls/android/.idea/compiler.xml
  prediction-polls/android/.idea/gradle.xml
  prediction-polls/android/.idea/kotlinc.xml
  prediction-polls/android/.idea/misc.xml
  prediction-polls/android/.idea/vcs.xml
  prediction-polls/android/app/.gitignore
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/proguard-rules.pro
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ExampleInstrumentedTest.kt
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Color.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Theme.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Type.kt
  prediction-polls/android/app/src/main/res/drawable/ic_launcher_background.xml
  prediction-polls/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  prediction-polls/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  prediction-polls/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  prediction-polls/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  prediction-polls/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  prediction-polls/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  prediction-polls/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  prediction-polls/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  prediction-polls/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  prediction-polls/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  prediction-polls/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  prediction-polls/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  prediction-polls/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  prediction-polls/android/app/src/main/res/values/colors.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
  prediction-polls/android/app/src/main/res/values/themes.xml
  prediction-polls/android/app/src/main/res/xml/backup_rules.xml
  prediction-polls/android/app/src/main/res/xml/data_extraction_rules.xml
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/ExampleUnitTest.kt
  prediction-polls/android/build.gradle.kts
  prediction-polls/android/gradle.properties
  prediction-polls/android/gradle/wrapper/gradle-wrapper.jar
  prediction-polls/android/gradle/wrapper/gradle-wrapper.properties
  prediction-polls/android/gradlew
  prediction-polls/android/gradlew.bat
  prediction-polls/android/settings.gradle.kts
Labels: Priority: High, Status: In Review, Platform: Android

#193 init frontend project
  prediction-polls/frontend/.cache/default-development/0.pack
  prediction-polls/frontend/.cache/default-development/index.pack
  prediction-polls/frontend/.gitignore
  prediction-polls/frontend/README.md
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/public/favicon.ico
  prediction-polls/frontend/public/index.html
  prediction-polls/frontend/public/logo192.png
  prediction-polls/frontend/public/logo512.png
  prediction-polls/frontend/public/manifest.json
  prediction-polls/frontend/public/robots.txt
  prediction-polls/frontend/src/App.css
  prediction-polls/frontend/src/App.js
  prediction-polls/frontend/src/App.test.js
  prediction-polls/frontend/src/Components/Button/index.jsx
  prediction-polls/frontend/src/Components/Card/index.jsx
  prediction-polls/frontend/src/Config/config.js
  prediction-polls/frontend/src/Layouts/Sidebar/index.jsx
  prediction-polls/frontend/src/Middleware/get-api.js
  prediction-polls/frontend/src/Middleware/index.js
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/Pages/Home/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/frontend/src/index.css
  prediction-polls/frontend/src/index.js
  prediction-polls/frontend/src/logo.svg
  prediction-polls/frontend/src/reportWebVitals.js
  prediction-polls/frontend/src/setupTests.js
Labels: Priority: High, Platform: Frontend

#226 updated gradle dependencies
  prediction-polls/android/.gitignore
  prediction-polls/android/.idea/gradle.xml
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/build.gradle.kts
Labels: Dependencies, Priority: High, Status: In Review, Type: Improvement

#227 Implementation of Sign-Up Design
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/public/signup.png
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
Labels: Status: In Review, Platform: Frontend

#233 Mobile/feature/fonts
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Type.kt
  prediction-polls/android/app/src/main/res/font/montserrat_black.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_black_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_bold.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_bold_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_extra_bold.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_extra_bold_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_extra_light.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_extra_light_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_light.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_light_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_medium.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_medium_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_regular.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_semi_bold.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_semi_bold_italic.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_thin.ttf
  prediction-polls/android/app/src/main/res/font/montserrat_thin_italic.ttf
Labels: Status: In Review, Type: Feature, Platform: Android

#237 frontend/feature/update-signup
  prediction-polls/frontend/public/index.html
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/index.css
Labels: Status: In Review, Platform: Frontend

#235 Mobile/feature/theme
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Color.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Theme.kt
Labels: Status: In Review, Type: Feature, Platform: Android

#238 Frontend/feature/theme
  prediction-polls/frontend/src/App.js
  prediction-polls/frontend/src/Pages/Home/index.jsx
  prediction-polls/frontend/src/contexts/ThemeContext/index.jsx
  prediction-polls/frontend/src/theme/color.js
Labels: Status: In Review, Type: Feature, Platform: Frontend

#242 updated sign-in page ui
  prediction-polls/frontend/src/Assets/Logo.svg
  prediction-polls/frontend/src/Assets/SignPageAnimation.svg
  prediction-polls/frontend/src/Assets/icons/GoogleIcon.svg
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
Labels: Priority: High, Status: In Review, Type: Feature, Platform: Frontend

#229 Mobile/feature/network module
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/core/BaseApplication.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/NetworkModule.kt
  prediction-polls/android/build.gradle.kts
Labels: Status: In Review, Type: Feature, Platform: Android

#246 Arrange fonts
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/index.css
Labels: Status: In Review, Platform: Frontend

#228 Mobile/feature/build variants
  prediction-polls/android/.gitignore
  prediction-polls/android/.idea/kotlinc.xml
  prediction-polls/android/app/build.gradle.kts
Labels: Status: In Review, Type: Feature, Platform: Android

#244 Mobile/feature/navigation-drawer
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/common/NavigationDrawer.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Color.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/NavItem.kt
  prediction-polls/android/app/src/main/res/drawable/ic_app_title.png
  prediction-polls/android/app/src/main/res/drawable/ic_create.xml
  prediction-polls/android/app/src/main/res/drawable/ic_feed.xml
  prediction-polls/android/app/src/main/res/drawable/ic_leaderboard.xml
  prediction-polls/android/app/src/main/res/drawable/ic_moderation.xml
  prediction-polls/android/app/src/main/res/drawable/ic_notifications.xml
  prediction-polls/android/app/src/main/res/drawable/ic_profile.xml
  prediction-polls/android/app/src/main/res/drawable/ic_vote.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Type: Feature, Platform: Android

#245 Mobile/feature/navigation
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/main/MainScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/main/MainScreenNavigation.kt
Labels: Priority: Medium, Status: In Review, Platform: Android

#275 Backend/feature/google auth
  prediction-polls/backend/package.json
  prediction-polls/backend/src/repositories/AuthorizationDB.js
  prediction-polls/backend/src/routes/AuthorizationRouter.js
  prediction-polls/backend/src/services/AuthGoogleService.js
  prediction-polls/backend/src/services/AuthenticationService.js
  prediction-polls/backend/src/services/AuthorizationService.js
Labels: Priority: Medium, Type: Feature, Platform: Backend

#273 Mobile/feature/auth
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/core/BaseViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/TokenManager.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/interceptors/AuthInterceptor.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/AuthRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/LoginRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/LogoutRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/RefreshAccessTokenRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/request/SignupRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/response/LoginResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/response/RefreshAccessTokenResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AuthService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/NetworkModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/Qualifiers.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/RepositoryModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ServiceModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/LongExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/ModifierExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomInputField.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/NavigationDrawer.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/feed/FeedViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/main/MainScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/main/MainScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/DateTransformation.kt
  prediction-polls/android/app/src/main/res/drawable/ic_back.xml
  prediction-polls/android/app/src/main/res/drawable/ic_calendar.xml
  prediction-polls/android/app/src/main/res/drawable/ic_google.xml
  prediction-polls/android/app/src/main/res/drawable/ic_visibile.xml
  prediction-polls/android/app/src/main/res/drawable/ic_welcome_page.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Type: Feature, Platform: Android

#274 Frontend/feature/sidebar
  prediction-polls/frontend/src/Assets/icons/CreateIcon.jsx
  prediction-polls/frontend/src/Assets/icons/FeedIcon.jsx
  prediction-polls/frontend/src/Assets/icons/Icon.module.css
  prediction-polls/frontend/src/Assets/icons/LeaderboardIcon.jsx
  prediction-polls/frontend/src/Assets/icons/ModerationIcon.jsx
  prediction-polls/frontend/src/Assets/icons/NotificationsIcon.jsx
  prediction-polls/frontend/src/Assets/icons/ProfileIcon.jsx
  prediction-polls/frontend/src/Assets/icons/SettingsIcon.jsx
  prediction-polls/frontend/src/Assets/icons/VoteIcon.jsx
  prediction-polls/frontend/src/Components/Menu/index.jsx
  prediction-polls/frontend/src/Components/MobileMenu/MobileMenu.module.css
  prediction-polls/frontend/src/Components/MobileMenu/index.jsx
  prediction-polls/frontend/src/Components/Sidebar/Sidebar.module.css
  prediction-polls/frontend/src/Components/Sidebar/index.jsx
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/Pages/Feed/Feed.module.css
  prediction-polls/frontend/src/Pages/Feed/index.jsx
  prediction-polls/frontend/src/Pages/Home/Home.module.css
  prediction-polls/frontend/src/Pages/Home/index.jsx
  prediction-polls/frontend/src/Pages/Leaderboard/Leaderboard.module.css
  prediction-polls/frontend/src/Pages/Leaderboard/index.jsx
  prediction-polls/frontend/src/Pages/Moderation/Moderation.module.css
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
  prediction-polls/frontend/src/Pages/Notifications/Notifications.module.css
  prediction-polls/frontend/src/Pages/Notifications/index.jsx
  prediction-polls/frontend/src/Pages/Profile/Profile.module.css
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Pages/Settings/Settings.module.css
  prediction-polls/frontend/src/Pages/Settings/index.jsx
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/Pages/Vote/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/frontend/src/contexts/ThemeContext/index.jsx
  prediction-polls/frontend/src/theme/color.js
  prediction-polls/frontend/src/theme/colors.css
Labels: Priority: Urgent, Status: Waiting For Response, Type: Feature, Platform: Frontend

#277 sign up improvement
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
Labels: Priority: Urgent, Status: In Review, Type: Improvement, Platform: Frontend

#279 Frontend/feature/poll-card
  prediction-polls/frontend/src/Assets/icons/Comment.svg
  prediction-polls/frontend/src/Assets/icons/CreateIcon.jsx
  prediction-polls/frontend/src/Assets/icons/FeedIcon.jsx
  prediction-polls/frontend/src/Assets/icons/NotificationsIcon.jsx
  prediction-polls/frontend/src/Assets/icons/ProfileIcon.jsx
  prediction-polls/frontend/src/Assets/icons/SettingsIcon.jsx
  prediction-polls/frontend/src/Assets/icons/Share.svg
  prediction-polls/frontend/src/Assets/icons/VoteIcon.jsx
  prediction-polls/frontend/src/Assets/icons/Warning.svg
  prediction-polls/frontend/src/Components/Menu/index.jsx
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/PollOption/PollOption.module.css
  prediction-polls/frontend/src/Components/PollOption/index.jsx
  prediction-polls/frontend/src/Components/PollTag/PollTag.module.css
  prediction-polls/frontend/src/Components/PollTag/index.jsx
  prediction-polls/frontend/src/Components/Sidebar/Sidebar.module.css
  prediction-polls/frontend/src/MockData/PollData.json
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Feed/Feed.module.css
  prediction-polls/frontend/src/Pages/Feed/index.jsx
  prediction-polls/frontend/src/Pages/Leaderboard/Leaderboard.module.css
  prediction-polls/frontend/src/Pages/Moderation/Moderation.module.css
  prediction-polls/frontend/src/Pages/Notifications/Notifications.module.css
  prediction-polls/frontend/src/Pages/Profile/Profile.module.css
  prediction-polls/frontend/src/Pages/Settings/Settings.module.css
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/theme/colors.css
Labels: Priority: Urgent, Status: In Review, Type: Feature, Platform: Frontend

#281 Google Sign In
  prediction-polls/frontend/.gitignore
  prediction-polls/frontend/src/Config/googleOAuth.jsx
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#284 Sign Up Page Tests
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/src/Pages/Auth/SignUp/SignUp.test.js
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
Labels: Priority: Urgent, Status: In Review, Platform: Frontend, Type: Testing

#293 Mobile/improvement/tests
  prediction-polls/android/app/build.gradle.kts
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ExampleInstrumentedTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/common/CustomInputFieldTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/common/ErrorDialogTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/common/NavigationDrawerTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/login/LoginScreenTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/main/MainScreenTest.kt
  prediction-polls/android/app/src/androidTest/java/com/bounswe/predictionpolls/ui/signup/SignupScreenTest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/extensions/StringExtensions.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/main/MainScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/theme/Theme.kt
  prediction-polls/android/app/src/main/res/values/themes.xml
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/ExampleUnitTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/extensions/LongExtensionTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/extensions/StringExtensionTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/ui/login/LoginScreenViewModelTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/ui/signup/SignupScreenViewModelTest.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/utils/DateTransformationTest.kt
Labels: Priority: Urgent, Status: In Review, Type: Improvement, Platform: Android

#291 Backend/development
  prediction-polls/backend/package.json
  prediction-polls/backend/src/repositories/AuthorizationDB.js
  prediction-polls/backend/src/routes/AuthorizationRouter.js
  prediction-polls/backend/src/services/AuthGoogleService.js
  prediction-polls/backend/src/services/AuthenticationService.js
  prediction-polls/backend/src/services/AuthorizationService.js
  prediction-polls/backend/tests/AuthorizationService.test.js
Labels: Priority: Medium, Platform: Backend
