Repository bounswe/bounswe2023group4, pull requests merged in 2023-12, with the labels that each got.

#522 Google auth fix
  prediction-polls/frontend/src/Pages/Auth/Google/index.jsx
  prediction-polls/frontend/src/api/requests/googleLogin.jsx
Labels: Status: In Review, Type: Improvement, Platform: Frontend

#525 Forgot Password Page UI
  prediction-polls/frontend/src/Pages/Auth/ForgotPassword/ForgotPassword.jsx
  prediction-polls/frontend/src/Pages/Auth/ForgotPassword/ForgotPassword.module.css
  prediction-polls/frontend/src/Pages/Auth/SignIn/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#524 Token Management
  prediction-polls/frontend/src/Components/PrivateRoute/PrivateRoute.test.js
  prediction-polls/frontend/src/Components/PrivateRoute/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#551 Frontend/feature/moderation-not-moderator/jury u is
  prediction-polls/frontend/src/Pages/Moderation/Moderation.module.css
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
Labels: Priority: High, Status: Done, Type: Feature, Platform: Frontend

#533 User Id Bug in Edit Profile
  prediction-polls/frontend/src/Pages/EditProfile/index.jsx
Labels: Type: Bug, Platform: Frontend

#561 Frontend/feature/add time
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/Pages/Feed/index.jsx
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Pages/Vote/VoteList.module.css
  prediction-polls/frontend/src/Pages/Vote/voteList.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/frontend/src/api/requests/getPollsOpenedMe.jsx
  prediction-polls/frontend/src/api/requests/getPollsVotedMe.jsx
Labels: Type: Feature, Platform: Frontend

#560 Frontend/feature/badge select
  prediction-polls/frontend/src/Pages/EditProfile/index.jsx
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/api/requests/badgeSelect.jsx
Labels: Type: Feature, Platform: Frontend

#558 Frontend/feature/color update
  prediction-polls/frontend/src/Components/Badge/Badge.module.css
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/PollOption/PollOption.module.css
  prediction-polls/frontend/src/Components/PrivateRoute/index.jsx
  prediction-polls/frontend/src/Pages/Create/Create.module.css
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/theme/colors.css
Labels: Type: Improvement, Platform: Frontend

#578 Edit Profile for Mobile App
  prediction-polls/android/app/src/main/AndroidManifest.xml
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/editProfile/EditProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/editProfile/EditProfileRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/ProfileInfoResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ProfileModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfo.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/editProfile/EditProfileNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/editProfile/EditProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/editProfile/EditProfileViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileCard.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/res/drawable/ic_camera.xml
Labels: Priority: High, Status: In Review, Platform: Android

#572 Annotation UI
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/PollOption/index.jsx
  prediction-polls/frontend/src/Pages/Vote/Vote.module.css
  prediction-polls/frontend/src/Pages/Vote/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/package-lock.json
  prediction-polls/package.json
Labels: Type: Feature, Platform: Frontend

#588 frontend/feature/moderation_tag_selection_UI
  prediction-polls/frontend/src/Components/TagSelection/TagSelection.module.css
  prediction-polls/frontend/src/Components/TagSelection/index.jsx
  prediction-polls/frontend/src/Pages/Moderation/Moderation.module.css
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
Labels: Priority: High, Status: In Review, Type: Feature, Platform: Frontend

#586 Pop-up Implementation
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/src/App.js
  prediction-polls/frontend/src/Components/Modals/CommentModal.jsx
  prediction-polls/frontend/src/Components/Modals/CommentModal.module.css
  prediction-polls/frontend/src/Components/Modals/ReportModal.jsx
  prediction-polls/frontend/src/Components/Modals/ShareModal.jsx
  prediction-polls/frontend/src/Components/Modals/ShareModal.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/contexts/ModalContext/ModalNames.js
  prediction-polls/frontend/src/contexts/ModalContext/Modals.jsx
  prediction-polls/frontend/src/contexts/ModalContext/index.jsx
  prediction-polls/frontend/src/contexts/ModalContext/useModal.jsx
Labels: Type: Feature, Platform: Frontend

#587 Frontend/feature/guest user
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Components/Sidebar/Sidebar.module.css
  prediction-polls/frontend/src/Components/Sidebar/index.jsx
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Type: Improvement, Platform: Frontend

#599 Frontend/feature/moderation-not-moderator-jury-backend-connections
  prediction-polls/frontend/src/Components/TagSelection/index.jsx
  prediction-polls/frontend/src/Pages/Moderation/Moderation.module.css
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
Labels: Priority: High, Status: In Review, Type: Feature, Platform: Frontend

#603 Implementation of leaderboard data
  prediction-polls/backend/src/repositories/ProfileDB.js
  prediction-polls/backend/src/routes/ProfileRouter.js
  prediction-polls/backend/src/schema.sql
  prediction-polls/backend/src/services/ProfileService.js
Labels: Priority: Medium, Status: In Review, Type: Feature, Platform: Backend

#609 implement share
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollsComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/ContextUtils.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Priority: Medium, Status: In Review, Platform: Android

#612 Feature/forgot password
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/RequestPasswordResetRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/RequestPasswordResetRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AuthService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/forgotPassword/ForgotPasswordNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/forgotPassword/ForgotPasswordScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/forgotPassword/ForgotPasswordViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/login/LoginScreen.kt
Labels: Priority: High, Status: In Review, Status: In Progress, Type: Improvement, Type: Feature, Platform: Android

#614 Backend/feature/poll closing & grading
  prediction-polls/backend/src/app.js
  prediction-polls/backend/src/errorCodes.js
  prediction-polls/backend/src/repositories/ModeratorDB.js
  prediction-polls/backend/src/repositories/PollDB.js
  prediction-polls/backend/src/routines/modAppointRoutine.js
  prediction-polls/backend/src/routines/pollCloseRoutine.js
  prediction-polls/backend/src/schema.sql
  prediction-polls/backend/src/services/ModeratorService.js
  prediction-polls/backend/src/services/PollService.js
  prediction-polls/backend/src/services/ProfileService.js
  prediction-polls/frontend/.env
Labels: Priority: High, Type: Feature, Platform: Backend

#621 Mobile/feature/moderation new
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/core/BaseRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/ProfileInfoResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/ModeratorAppointRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/ModeratorRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/ModeratorTagRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/ModeratorRequestResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/ModeratorTagResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/ModerationRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/ModerationRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/ModerationService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/NetworkModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/RepositoryModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ServiceModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/moderation/ModeratorPoll.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/moderation/ModeratorTag.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/moderation/ModeratorUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfo.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/apply/ModerationApplyScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/apply/ModerationApplyScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/apply/ModerationApplyScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/apply/ModerationApplyScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/apply/ModerationApplyViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/list/ModerationScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/list/ModerationScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/list/ModerationScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/list/ModerationScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/list/ModerationScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/vote/ModerationVoteScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/vote/ModerationVoteScreenEvent.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/vote/ModerationVoteScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/vote/ModerationVoteScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/moderation/vote/ModerationVoteScreenViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/NavItem.kt
  prediction-polls/android/app/src/main/res/drawable/ic_close.xml
  prediction-polls/android/app/src/main/res/values/strings.xml
Labels: Status: In Review, Type: Feature, Platform: Android

#626 frontend/test/not-moderator-page
  prediction-polls/frontend/package-lock.json
  prediction-polls/frontend/package.json
  prediction-polls/frontend/src/Pages/Moderation/NotModerator.test.js
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
Labels: Priority: Medium, Status: In Review, Platform: Frontend, Type: Testing

#632 Improvement/follow
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSource.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSourceImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRepositoryImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/FollowRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/GetFollowersRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/ProfileInfoResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/GetFollowersUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfo.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfoRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileCard.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenViewModel.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeFeedRepository.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeProfileRepository.kt
Labels: Priority: High, Status: In Progress, Type: Improvement, Type: Feature, Platform: Android

#635 frontend/test/not-jury-page
  prediction-polls/frontend/src/Pages/Moderation/NotJury.test.js
Labels: Priority: High, Status: In Review, Platform: Frontend, Type: Testing

#639 Bug fix
  prediction-polls/backend/src/repositories/ProfileDB.js
  prediction-polls/backend/src/services/PollService.js
  prediction-polls/backend/src/services/ProfileService.js
Labels: Priority: Medium, Type: Bug, Platform: Backend

#628 Frontend/feature/poll tag
  prediction-polls/frontend/src/App.js
  prediction-polls/frontend/src/Components/Modals/PollTagModal.jsx
  prediction-polls/frontend/src/Components/Modals/PollTagModal.module.css
  prediction-polls/frontend/src/Components/Sidebar/index.jsx
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
  prediction-polls/frontend/src/api/requests/addPollTag.jsx
  prediction-polls/frontend/src/api/requests/getPollsOpened.jsx
  prediction-polls/frontend/src/api/requests/getTags.jsx
  prediction-polls/frontend/src/contexts/ModalContext/ModalNames.js
  prediction-polls/frontend/src/contexts/ModalContext/Modals.jsx
  prediction-polls/frontend/src/contexts/ModalContext/index.jsx
  prediction-polls/frontend/src/contexts/ModalContext/useModal.jsx
Labels: Type: Improvement, Platform: Frontend

#644 Mobile/feature/annotations + UI improvements + Comment + Report + Leaderboard
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/feed/model/PollResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/interceptors/JsonLdInterceptor.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/CreateAnnotationRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/request/PollCommentRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/GetAnnotationsResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/GetCommentsResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/model/response/GetLeaderboardResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/AnnotationRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/AnnotationRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/LeaderboardRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/LeaderboardRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/AnnotationService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/LeaderboardService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/PollService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/vote/DiscreteVotePollRequest.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/vote/VotePollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/NetworkModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/Qualifiers.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/RepositoryModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/di/ServiceModule.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/annotation/AnnotationUseCase.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/annotation/PollAnnotation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/annotation/PollAnnotationPages.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/leaderboard/LeaderboardTopics.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/leaderboard/TopicLeaderboard.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/Comment.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/poll/Poll.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CommonAppbar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CustomInputField.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/annotation/AnnotatableText.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/annotation/AnnotationDialog.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/annotation/AnnotationViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/annotation/EmptyTextToolbar.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/ContinuousVoteOption.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollCreatorProfile.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardScreenState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/leaderboard/LeaderboardViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVote.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteNavGraph.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteScreenUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/vote/PollVoteViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/utils/NavItem.kt
  prediction-polls/android/app/src/main/res/values/strings.xml
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeFeedRepository.kt
Labels: Priority: Urgent, Status: In Review, Platform: Android

#634 Bugfix/photo
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/editProfile/EditProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/editProfile/EditProfileRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/editProfile/EditProfileNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/editProfile/EditProfileViewModel.kt
Labels: Priority: High, Status: In Review, Platform: Android

#646 Bugfix/follow
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileApi.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/ProfileInfoRemoteDataSourceImpl.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenViewModel.kt
  prediction-polls/android/app/src/test/java/com/bounswe/predictionpolls/repo/FakeFeedRepository.kt
Labels: Priority: Medium, Status: In Review, Platform: Android

#647 Improvement/points
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivity.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/MainActivityViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/profile/model/ProfileInfoResponse.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/domain/profile/ProfileInfo.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/CommonAppbar.kt
Labels: Priority: High, Status: In Review, Type: Improvement, Type: Feature, Platform: Android

#651 Mobile/bugfix/general fixes
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepository.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/repositories/PollRepositoryInterface.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/data/remote/services/PollService.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/common/poll/PollsComposable.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/MyProfileViewModel.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreen.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenNavigation.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenUiState.kt
  prediction-polls/android/app/src/main/java/com/bounswe/predictionpolls/ui/profile/ProfileScreenViewModel.kt
Labels: Platform: Android

#633 Leaderboard Implementation and Modal in Sign-Up page
  prediction-polls/frontend/src/Pages/Auth/SignUp/SignUp.module.css
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/Pages/Leaderboard/Leaderboard.module.css
  prediction-polls/frontend/src/Pages/Leaderboard/index.jsx
  prediction-polls/frontend/src/Routes/Router.jsx
Labels: Status: In Review, Type: Feature, Platform: Frontend

#653 Semantic search backend integration
  prediction-polls/frontend/src/Components/SearchBar/index.jsx
  prediction-polls/frontend/src/Pages/Feed/index.jsx
Labels: Priority: Medium, Status: In Review, Platform: Frontend

#650 Frontend/feature/follow
  prediction-polls/frontend/src/Components/Modals/FollowModal.module.css
  prediction-polls/frontend/src/Components/Modals/FollowerModal.jsx
  prediction-polls/frontend/src/Components/Modals/FollowingModal.jsx
  prediction-polls/frontend/src/Pages/Profile/Profile.module.css
  prediction-polls/frontend/src/Pages/Profile/index.jsx
  prediction-polls/frontend/src/Pages/Vote/VoteList.module.css
  prediction-polls/frontend/src/Pages/Vote/voteList.jsx
  prediction-polls/frontend/src/api/requests/followUser.jsx
  prediction-polls/frontend/src/api/requests/followedList.jsx
  prediction-polls/frontend/src/api/requests/followerList.jsx
  prediction-polls/frontend/src/api/requests/unfollowUser.jsx
  prediction-polls/frontend/src/contexts/ModalContext/ModalNames.js
  prediction-polls/frontend/src/contexts/ModalContext/Modals.jsx
  prediction-polls/frontend/src/contexts/ModalContext/index.jsx
  prediction-polls/frontend/src/contexts/ModalContext/useModal.jsx
Labels: Type: Feature, Platform: Frontend

#654 fixed the error on signup and moderation pages
  prediction-polls/frontend/src/Pages/Auth/SignUp/index.jsx
  prediction-polls/frontend/src/Pages/Moderation/index.jsx
Labels: Priority: High, Status: In Review, Type: Bug, Platform: Frontend

#662 added poll image modal and updated poll card
  prediction-polls/frontend/src/Components/Modals/ImageModal.jsx
  prediction-polls/frontend/src/Components/Modals/ImageModal.module.css
  prediction-polls/frontend/src/Components/Modals/PollImageModal.module.css
  prediction-polls/frontend/src/Components/Modals/PollImageModel.jsx
  prediction-polls/frontend/src/Components/Modals/PollTagModal.jsx
  prediction-polls/frontend/src/Components/PollCard/PollCard.module.css
  prediction-polls/frontend/src/Components/PollCard/index.jsx
  prediction-polls/frontend/src/Pages/Create/index.jsx
  prediction-polls/frontend/src/api/requests/addPollImage.jsx
  prediction-polls/frontend/src/contexts/ModalContext/ModalNames.js
  prediction-polls/frontend/src/contexts/ModalContext/Modals.jsx
  prediction-polls/frontend/src/contexts/ModalContext/useModal.jsx
Labels: Type: Feature, Platform: Frontend
